.main_layout__nav_panel{
    background-color: var(--panel-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 35px;
    color: var(--text-color);
    font-size: 20px;
    font-family: inherit;
    position:sticky;
}
ul{
    list-style: none;
}
.links_list {
    height: 50px;
}
.links_list a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    padding-left: 10px;
    height: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.user__info{
    max-height: 160px;
    display: grid;
    grid-template-areas: "img name"
                         "img age"
                         "img city";
    column-gap: 20px;
    color: var(--active-text-color);
    grid-template-columns: 100px;
    width: calc(100% - 30px);
}
.nav_panel_user_pic{
    grid-area: img;
    width: 100px;
    height: 100px;
}
.nav_panel_user_pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.active_link{
    background-color: var(--dark-background);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url("../../../../assets/NavPanel/Dust.svg");
    font-weight: 600;
    color: var(--active-text-color);
    transition: 0.25s ease-in-out;
}
.nav_panel{
    width: 100%;
}
.active_self_link,.deactive_self_link,.links_list{
    padding-left: 30px;
}
.active_self_link,.deactive_self_link{
    width: calc(100% - 30px);
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.active_self_link{
    background-color: var(--dark-background);
    background-image: url("../../../../assets/NavPanel/Dust.svg");
    transition: 0.25s ease-in-out;
}
.nav_panel_user_name{
    grid-area: name;
    font-weight: 600;
    font-size: 24px;
}
.nav_panel_user_age{
    grid-area: age;
    font-weight: 500;
    font-size: 16px;
}
.nav_panel_user_city{
    grid-area: city;
    font-weight: 500;
    font-size: 18px;
}