.main_layout__nav_panel {
  background-color: var(--panel-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 35px;
  color: var(--text-color);
  font-size: 20px;
  font-family: inherit;
  position: sticky;
}
ul {
  list-style: none;
}
.links_list {
  height: 50px;
}
.links_list a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  padding-left: 10px;
  height: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.active_link {
  background-color: var(--dark-background);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url("../../../../assets/NavPanel/Dust.svg");
  font-weight: 600;
  color: var(--active-text-color);
  transition: 0.25s ease-in-out;
}
.nav_panel {
  width: 100%;
}

.active_self_link,
.deactive_self_link {
  display: flex;
  width: 288px;
  margin: 12px 16px;
}
.active_self_link {
  background-color: var(--dark-background);
  background-image: url("../../../../assets/NavPanel/Dust.svg");
  transition: 0.25s ease-in-out;
}
