.containerHost {
    display: flex;
    justify-content: flex-start;
}

.containerOwner {
    display: flex;
    justify-content: flex-end;
}

.wrapperHost {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.wrapperOwner {
    display: flex;
}

.imageWrapper {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.image {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.status {
    position: absolute;
    bottom: 2.74px;
    right: 1.83px;
}

.contentHost {
    max-width: 280px;
    display: inline-flex;
    padding: 6px 8px;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px 8px 8px 0px;
    background: #4B4A54;
    overflow: visible;
}

.contentOwner {
    max-width: 280px;
    display: inline-flex;
    padding: 6px 8px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    border-radius: 8px 8px 0px 8px;
    background: #5F4F7F;
}

.name {
    color: #C896EF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.1px;
}

.message {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: transparent;
    resize: none;
    border: none;
}

.time {
    color: #FFF;
    text-align: end;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1px;
}