:root {
  --selected-color: #c896ef;
}

.dropdownButton {
  width: 124px;
  height: 36px;
  padding: 6px 12px 0;
  margin-block: 8px;
  border: 1px solid #5f4f7f;
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  z-index: 1;
}

.dropdownButton:focus,
.dropdownButton.opened {
  transition: border-color 0.3s easy;
  border-color: var(--selected-color);
}

.options {
  height: 244px;
  width: 124px;
  padding-block: 3px;
  border: 1.5px solid #96a3b4;
  border-radius: 5px;
  background: #201b27;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 1;
}

.options::-webkit-scrollbar {
  display: none;
}

.option {
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.selected {
  background: var(--selected-color);
}
