.cardInfoDetails {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.cardInfoDetails img:hover svg path {
  fill: #fff;
}

.cardButtonDetails {
  width: 40px;
  height: 40px;
  border: none;
  background: inherit;
}
