:root {
  --ff: Montserrat, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}
