@keyframes fadeIn {
       from {
              opacity: 0;
       }

       to {
              opacity: 1;
       }
}

.modalForgotPassword {
       position: relative;
       width: 396px;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fff;
       padding: 20px;
       outline: none;
       border-radius: 7px;
       animation: fadeIn 0.7s ease-in-out forwards;
}

.overlayModal {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.5);
}

.modalForgotPasswordTitle {
       margin: 67px 0 0;
       text-align: center;
       color: #EB53A2;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 600;
       font-size: 24px;
       line-height: 17px;
       letter-spacing: -0.5px;
}

.btnGetNewPassword {
       margin: 60px auto 66px;
       display: block;
       width: 232px;
       height: 64px;
       padding: 16px 18px;
       background: linear-gradient(180deg, #9747FF 0%, #E551E8 100%);
       border-radius: 5px;
       border: none;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 600;
       font-size: 18px;
       line-height: 17px;
       letter-spacing: -0.5px;
}

.btnGetNewPassword:active {
       background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), linear-gradient(180deg, #9747FF 0%, #E551E8 100%)
}

.cancel {
       position: absolute;
       top: 22.67px;
       right: 22.67px;
}