.languageSelect {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  width: 152px;
  height: 25px;
  align-self: center;
  align-items: center;
}

.selectLanguage {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.languagesBox {
  min-width: 304px;
  padding: 16px 8px;
  border-radius: 0px 0px 5px 5px;
  background: #32303e;
  position: absolute;
  top: 40px;
  left: -50px;
  z-index: 1;
  display: block;
  opacity: 1;
  animation: languagevisible 0.5s ease-in-out;
}
.languagesItem {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  transition: 0.4s ease-in;
}
.languagesItem_box {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
}
.languagesItem_box:not(:last-child) {
  margin-bottom: 8px;
}
.languagesItem_box:hover {
  background-color: #5f4f7f;
}
.language {
  padding-top: 4px;
  color: #e1dbed;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1px;
}
@keyframes languagevisible {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
