a,
button {
  cursor: pointer;
}

.blockToRegistration {
  display: flex;
  margin-top: 52px;
  justify-content: center;
  gap: 120px;
}

.messageSignUp {
  width: 95px;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #e9e3f5;
}

.messageHaveAnAccount {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--White, #e9e3f5);
  align-self: flex-end;
}

.formForEmail {
  display: flex;
  flex-direction: column;
  width: 392px;
  justify-content: center;
  margin: 0 auto;
}

.inputBlock {
  margin-top: 40px;
}

.inputForEmail {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid #5f4f7f;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url('../../../../assets/ModalAuth/Union.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForFocusedEmail {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid #c896ef;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url('../../../../assets/ModalAuth/UnionFocus.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForEmailError {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid #d75048;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url('../../../../assets/ModalAuth/ErrorIcon.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForEmailValid {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid green;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url('../../../../assets/ModalAuth/iconForValidEmail.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForEmail:focus,
.inputForFocusedEmail:focus,
.inputForEmailError:focus,
.inputForEmailValid:focus {
  outline: none;
}

.inputForEmail::placeholder,
.inputForFocusedEmail::placeholder {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #5f4f7f;
}

.btnContinue {
  height: 48px;
  margin-top: 100px;
  padding: 16px 18px;
  border-radius: 5px;
  background-color: #302e3d;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #635874;
  cursor: pointer;
}

.btnContinue:active:not(:disabled) {
  background: #b71a78;
}

.btnContinuePink {
  height: 48px;
  margin-top: 100px;
  padding: 16px 18px;
  border-radius: 5px;
  background: linear-gradient(180deg, #9747ff 0%, #e551e8 100%);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #e9e3f5;
}

.btnContinuePink:active {
  background: #b71a78;
}

.privacyPolicyText {
  width: 392px;
  color: var(--White, #e9e3f5);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin: 12px auto 52px;
}

.privacyPolicyLink {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--Pink_Buttons, #de77c7);
}

.errorMsg {
  margin-top: 6px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #d75048;
  text-align: initial;
}
