.blockUploadVideo {
       width: 232px;
       height: 336px;
       border-radius: 12px;
       background-color: #5F4F7F;
       position: relative;
       margin-top: 70px;
       outline: 1.5px dashed #C896EF;
       box-sizing: border-box;
}

.playIcon {
       position: absolute;
       top: 140px;
       left: 96px;
}

.playIcon path {
       stroke: #C896EF
}


.videoCreateAcc {
       width: 232px;
       height: 336px;
       object-fit: cover;
       border-radius: 12px;
}



.closeIcon {
       position: absolute;
       top: 5px;
       right: 5px;
       cursor: pointer;
}


.iconControls {
       position: absolute;
       bottom: 5px;
       left: 5px;
       width: 25px;
       height: 25px;
}


.editorVolume {
       position: absolute;
       bottom: 15px;
       left: 40px;
       width: 150px;
       -webkit-appearance: none;
       height: 4px;
       background: linear-gradient(to right, #C896EF 0%, #C896EF var(--thumb-percentage, 50%), #5F4F7F var(--thumb-percentage, 50%), #5F4F7F 100%);
       border-radius: 3px;
       outline: none;
}

.editorVolume::-webkit-slider-thumb {
       -webkit-appearance: none;
       appearance: none;
       width: 18px;
       height: 18px;
       background-color: #C896EF;
       border-radius: 50%;
       cursor: pointer;
       z-index: 1;
}

.cropIcon {
       position: absolute;
       width: 18px;
       height: 18px;
       right: 10px;
       bottom: 10px;
}