.blockUploadVideo {
       width: 232px;
       height: 336px;
       border-radius: 12px;
       background-color: #5F4F7F;
       position: relative;
       margin-top: 70px;
       outline: 1.5px dashed #C896EF;
       box-sizing: border-box;
}

.playIcon {
       position: absolute;
       top: 140px;
       left: 96px;
}

.playIcon path {
       stroke: #C896EF
}


.videoCreateAcc {
       width: 232px;
       height: 336px;
       object-fit: cover;
       border-radius: 12px;
}



.closeIcon {
       position: absolute;
       top: 5px;
       right: 5px;
       cursor: pointer;
}