a,
button {
       cursor: pointer;
}

.modalCreateNewAccount {
       display: flex;
       width: 1227px;
       border: 1px solid #E9E3F5;
       overflow: hidden;
       border-radius: 5px;
       margin: 59px 0 65px 0;
}

.leftHalfCreateNewAccount {
       width: 707px;
       backdrop-filter: blur(12px);
       background: var(--new-gradient, linear-gradient(223deg, rgba(95, 79, 127, 0.75) 0%, rgba(131, 131, 131, 0.27) 100%));
       text-align: center;
}



.rightHalfCreateNewAccount {
       width: 520px;
       background: var(--glass-background, rgba(31, 29, 43, 0.80));
       backdrop-filter: blur(12px);
       text-align: center;
}

.createTitle {
       margin: 65px 0 0 0;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 600;
       font-size: 28px;
       line-height: 40px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}



.formForCreateAccount {
       display: flex;
       flex-direction: column;
       width: 550px;
       justify-content: center;
       margin: 30px auto 0;
}

.blockLabelAndInput {
       display: flex;
       flex-direction: column;
       width: 396px;
}

.blockForInfoInput {
       display: flex;
       justify-content: space-between;
       margin-top: 40px;
       gap: 10px;
}

.blockForInfoInput:last-child {
       margin-bottom: 58px;
}

.inputForName {
       margin-top: 20px;
       height: 64px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #5F4F7F;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       outline: none;
       box-sizing: border-box;
       background-image: url("../../../assets/CreateAccountForm/iconMan.svg");
       background-repeat: no-repeat;
       background-position: right 22.5px center;
}


.inputForName::placeholder,
.inputForDay::placeholder,
.inputForMonth::placeholder,
.inputForYear::placeholder {
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.blockWithStar {
       display: flex;
       width: 145px;
       justify-content: end;
       gap: 8px;
       height: 109px;
}

.blockSwitchWithStar {
       display: flex;
       margin-top: 25px;
       width: 145px;
       justify-content: end;
       gap: 8px;
       height: 109px;
}

.clue {
       margin-top: 49px;
       font-family: 'Montserrat', Arial, sans-serif;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}


.star {
       width: 10px;
       margin-top: 7px;
}


.labelForInput {
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 500;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #C896EF;
       margin: 0;
}

.blockForInputBirthday {
       display: flex;
       gap: 8px;
}


.inputForDay,
.inputForMonth {
       width: 114px;
}

.inputForYear {
       width: 152px;
}

.inputForDay,
.inputForMonth,
.inputForYear {
       margin-top: 20px;
       height: 64px;
       padding: 22px 20px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #5F4F7F;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       outline: none;
       box-sizing: border-box;
       text-align: center;
}

.inputNameFilled {
       margin-top: 20px;
       height: 64px;
       padding: 22px 20px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #C896EF;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       outline: none;
       box-sizing: border-box;
       background-image: url("../../../assets/CreateAccountForm/iconManFocused.svg");
       background-repeat: no-repeat;
       background-position: right 22.5px center;
}

.inputDayFilled,
.inputMonthFilled {
       width: 114px;
}

.inputYearFilled {
       width: 152px;
}

.inputDayFilled,
.inputMonthFilled,
.inputYearFilled {
       margin-top: 20px;
       height: 64px;
       padding: 22px 20px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #C896EF;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       outline: none;
       box-sizing: border-box;
       text-align: center;
}

.blockForAddFiles {
       display: flex;
       flex-direction: column;
       width: 396px;
       margin: 70px auto 0;
       align-items: center;
}

.promptForVideo {
       margin: 50px 0 0 0;
       color: #E9E3F5;
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 18px;
       line-height: 25px;
       text-align: center;
       letter-spacing: -0.5px;
}

.linkExamplesVideo {
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 18px;
       line-height: 25px;
       text-align: center;
       letter-spacing: -0.5px;
       color: #EB53A2;
       text-decoration: underline;
}

.areYouReadyText {
       margin: 59px 0 0 0;
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 28px;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}

.iAgreeText {
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 16px;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}

.termsAndConditionsText {
       color: #EB53A2;
}

.labelForTermsAndConditions {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 26px;
}

.checkboxForTermsAndConditions {
       position: relative;
       width: 20px;
       height: 20px;
       margin: 0 8px 0 0;
}

.checkboxForTermsAndConditions::before {
       content: "";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #1F1D2B;
       border: 1px solid #ccc;
       border-radius: 3px;
}

.checkboxForTermsAndConditions:checked::before {
       background-color: #fcfcfc;
}

.checkboxForTermsAndConditions::after {
       content: url("../../../assets/ModalAuth/checkMark.svg");
       display: none;
       position: absolute;
       top: 60%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #5F4F7F;
}

.checkboxForTermsAndConditions:checked::after {
       display: block;
}

.btnCreateAccount {
       margin: 58px auto 50px;
       width: 396px;
       padding: 22px 18px;
       border-radius: 5px;
       background: linear-gradient(180deg, #9747FF 0%, #E551E8 100%);
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
       border: none
}

.btnCreateAccountNotValid {
       margin: 58px auto 50px;
       width: 396px;
       padding: 22px 18px;
       border-radius: 5px;
       background: #302E3D;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #635874;
       border: none;
}