a,
button {
       cursor: pointer;
}

.messageLogIn {
       width: 396px;
       margin: 65px auto 0;
       text-align: center;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 28px;
       font-weight: 600;
       line-height: 40px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}

.formForEmail {
       display: flex;
       flex-direction: column;
       width: 396px;
       justify-content: center;
       margin: 0 auto;
}

.inputBlock {
       text-align: center;
       margin-top: 70px;
}

.inputForEmail:-webkit-autofill,
.inputForEmail:-webkit-autofill:hover,
.inputForEmail:-webkit-autofill:focus,
.inputForEmail:-webkit-autofill:active {
       transition: background-color 5000s;
       -webkit-text-fill-color: #fff !important;
}

.inputForEmail {
       width: 326px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #5F4F7F;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       background-image: url("../../../assets/ModalAuth/Union.svg");
       background-repeat: no-repeat;
       background-position: right 24px center;
}


.inputForEmail:focus {
       outline: none;
       border-color: #C896EF;
       background-image: url("../../../assets/ModalAuth/UnionFocus.svg");
       background-repeat: no-repeat;
       background-position: right 24px center;
}

.inputForEmail::placeholder {
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 600;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}


.blockCheckbox {
       margin-top: 16px;
       display: flex;
}



input[type="checkbox"] {
       position: relative;
       width: 20px;
       height: 20px;
       margin: 0 8px 0 0;
}

input[type="checkbox"]::before {
       content: "";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #1F1D2B;
       border: 1px solid #ccc;
       border-radius: 3px;
}

input[type="checkbox"]:checked::before {
       background-color: #fcfcfc;
}

input[type="checkbox"]::after {
       content: url("../../../assets/ModalAuth/checkMark.svg");
       display: none;
       position: absolute;
       top: 60%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #5F4F7F;
}

input[type="checkbox"]:checked::after {
       display: block;
}

.labelForCheckbox {
       display: flex;
       align-items: center;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 16px;
       font-weight: 400;
       line-height: 17px;
       color: #E9E3F5;
       letter-spacing: -0.5px;
}

.questionIcon {
       margin-left: 4px;
       display: flex;
       align-items: center;
}

button:active:not([disabled]) {
       background-color: #B71A78;
}

.btnContinue {
       margin-top: 45px;
       padding: 22px 18px;
       border-radius: 5px;
       background-color: #302E3D;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #635874;
       cursor: pointer;
}

.btnFocused {
       margin-top: 45px;
       padding: 22px 18px;
       border-radius: 5px;
       background: linear-gradient(180deg, #9747FF 0%, #E551E8 100%);
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #E9E3F5
}

.btnFocusedValid {
       margin-top: 40px;
       padding: 22px 18px;
       border-radius: 5px;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 17px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
       background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), linear-gradient(180deg, #9747FF 0%, #E551E8 100%);
}


.saveLoginBlock {
       position: absolute;
       width: 268px;
       padding: 15px 16px;
       background-color: #E9E3F5;
       border-radius: 5px;
       top: 34px;
       left: -134px;
}

.saveLoginBlock::after {
       content: "";
       position: absolute;
       width: 0;
       height: 0;
       border: 15px solid transparent;
       border-bottom: 14px solid #E9E3F5;
       bottom: 95px;
       left: 133px;
}

.blockHoverIcon {
       position: relative;
}

.saveLoginTitle {
       margin: 0;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.saveLoginText {
       margin: 4px 0 0;
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 16px;
       line-height: 20px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.blockHoverIcon:hover .saveLoginBlock {
       opacity: 1;
       pointer-events: all;
}

.blockHoverIcon .saveLoginBlock {
       opacity: 0;
       pointer-events: none;
}