.inputForEmail:-webkit-autofill,
.inputForEmail:-webkit-autofill:hover,
.inputForEmail:-webkit-autofill:focus,
.inputForEmail:-webkit-autofill:active {
       transition: background-color 5000s;
       -webkit-text-fill-color: #fff !important;
}

.inputForPassword {
       width: 392px;
       height: 48px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #5F4F7F;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
}

.inputForPassword::placeholder {
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 600;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.inputForFocusedPassword {
       width: 392px;
       height: 48px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #C896EF;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
}

.inputForFocusedPassword::placeholder {
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 600;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.inputForPassword:focus, .inputForFocusedPassword:focus {
       outline: none;
}

.inputForPasswordError {
       width: 392px;
       height: 48px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
       border: 1.5px solid #D75048;
}

.inputForPasswordValid{
       width: 392px;
       height: 48px;
       padding: 22px 50px 22px 20px;
       border-radius: 5px;
       border: 1.5px solid #438955;
       background-color: #201B27;
       color: #E9E3F5;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 25px;
       letter-spacing: -0.5px;
}
