.modalReset {
  display: flex;
  height: 76vh;
  border: 1px solid #e9e3f5;
  overflow: hidden;
  border-radius: 5px;
  margin: 40px 0 56px;
}

.leftHalfReset {
  width: 42vw;
  backdrop-filter: blur(5px);
  background: var(
    --new-gradient,
    linear-gradient(
      223deg,
      rgba(95, 79, 127, 0.75) 0%,
      rgba(131, 131, 131, 0.27) 100%
    )
  );
  text-align: center;
}

.rightHalfReset {
  width: 36vw;
  background: var(--glass-background, rgba(31, 29, 43, 0.8));
  backdrop-filter: blur(5px);
}

.resetPasswordWrapper {
  display: flex;
  flex-direction: column;
  width: 392px;
  margin: 0 auto;
}

.resetTitle {
  color: var(--White, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 52px;
  text-align: inherit;
}

.resetSubtitle {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 12px;
}

.emailOrPhoneInputWrapper {
  margin-top: 32px;
}

.inputForEmail {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid #5f4f7f;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url("../../../assets/ModalAuth/Union.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForFocusedEmail {
  width: 392px;
  height: 48px;
  padding: 22px 50px 22px 20px;
  border-radius: 5px;
  border: 1.5px solid #c896ef;
  background-color: #201b27;
  color: #e9e3f5;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-image: url("../../../assets/ModalAuth/UnionFocus.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.inputForFocusedEmail:focus,
.inputForEmail:focus {
  outline: none;
}

.inputForEmail::placeholder,
.inputForFocusedEmail::placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #5f4f7f;
}

.resetPasswordBtn {
  height: 48px;
  margin-top: 238px;
  padding: 16px 18px;
  border-radius: 5px;
  background-color: #302e3d;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #635874;
}

.resetPasswordBtnPink {
  height: 48px;
  margin-top: 238px;
  padding: 16px 18px;
  border-radius: 5px;
  background: linear-gradient(180deg, #9747ff 0%, #e551e8 100%);
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #e9e3f5;
}

.resetPasswordBtnPink:not([disabled]):active {
  background: #b71a78;
}
