a,
button {
       cursor: pointer;
}

.modalRegistration {
       display: flex;
       width: 1227px;
       border: 1px solid #E9E3F5;
       overflow: hidden;
       border-radius: 5px;
       margin: 59px 0 130px;
}

.leftHalfAuth {
       width: 707px;
       backdrop-filter: blur(5px);
       background: var(--new-gradient, linear-gradient(223deg, rgba(95, 79, 127, 0.75) 0%, rgba(131, 131, 131, 0.27) 100%));
       text-align: center;
}



.rightHalfAuth {
       width: 520px;
       background: var(--glass-background, rgba(31, 29, 43, 0.80));
       backdrop-filter: blur(5px);
}