.other {
  align-self: start;
}

.me {
  align-self: end;
}

.messageInfoMe {
  max-width: 960px;
  border-radius: 10px 10px 0 10px;
  background: #5f4f7f;
  padding: 4px 8px;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.messageInfoOther {
  max-width: 960px;
  padding: 4px 8px;
  border-radius: 10px 10px 10px 0;
  background: #4b4a54;
  display: flex;
  gap: 8px;
}

.messageText {
  color: #ffffff;
  font-family: var(--ff);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.messageTimestampt {
  color: #e9e3f5;
  font-family: var(--ff);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  height: 12px;
}

.photoMe {
  border-radius: 8px 8px 0 8px;
}

.photoOther {
  border-radius: 8px 8px 8px 0;
}

.selectedBlockMessage {
  margin-top: 7px;
}

.selectedMessage {
  border: 1px solid white;
}

.messageInfo {
  display: flex;
  gap: 4px;
  align-self: flex-end;
}

.highlighted {
  transition: background-color 1s linear;
  background-color: #32303e;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
