.notificationText {
  color: #5f4f7f;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.notificationDescription {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.notificationList {
  list-style: none;
  display: flex;
  flex-direction: column;
}