
.ModalWelcome{
    width: 600px;
    height: 600px;
    /* position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px); */
    position: relative;
    background: #FCFCFC;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: -0.5px;
    overflow: hidden;
    pointer-events: all;
}
.ModalWelcome::before{
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 235px;
    height: 235px;
    left: 0px;
    top: 120px;
    background: #F6C4DE;
    opacity: 0.2;
    border-radius: 50%;
}
.ModalWelcome::after{
    content: "";
    clear: both;
    display: block;
    width: 200px;
    position: absolute;
    height: 200px;
    left: 500px;
    top: -100px;
    border-radius: 50%;
    background: #C896EF;
    opacity: 0.2;
    z-index: 0;
}
/* .ModalWelcome::after{
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    left: 394px;
    top: 281px;
    background: #C896EF;
    opacity: 0.1;
    border-radius: 50%;
} */
.ModalWelcome_Wrapper{
    width: inherit;
    margin: 70.43px auto 60.43px;
    position: relative;
    
}

.ModalWelcome_Wrapper img{
    display: block;
    width: 239.32px;
    height: 149.26px;
    margin: 0 auto;
    transform: matrix(1, 0, 0.01, 1, 0, 0);
}
.ModalWelcome_Wrapper h3{  
    font-weight: 600;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: #EB53A2;
}
.ModalWelcome_Wrapper p{
    width: 477px;
    height: 210px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #5F4F7F;
    position: relative;
}
.ModalWelcome_Wrapper p::before{
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    left: 332.5px;
    bottom: 100.57px;
    background: #C896EF;
    opacity: 0.1;
    border-radius: 50%;
}
.ModalWelcome_Wrapper p::after{
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    left: 82.5px;
    top: 153.43px;
    background: #C896EF;
    opacity: 0.1;
    border-radius: 50%;
}
.ModalWelcome_CloseModal{
    /* display: flex;
    justify-content: right; */
    position: absolute;
    right: 0;
    z-index: 1;
    /* position: relative; */
    
}
/* button{
    cursor: pointer;
} */
 .CloseModal__Btn-close{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    float: right;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: inherit;

  
}

.Btn-close_img{
    width: 18.67px;
    height: 18.67px;
    margin-top: 22.67px;
    margin-right: 22.67px;
}
