.containerHistory{
    height: 100%;
    width: 100%;
    padding: 0 24px;
    background: url('./../../../../../assets/Messanger/BackgroundForMessanger.png')
    #1f1d2b repeat;
}
.headerHistory{
    width: 100%;
}
.titleHistory{
    max-width: 280px;
    padding: 16px 24px;
    border-bottom: 2px solid var(--Violet_Active, #C896EF);
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.1px;
}
.contentHistory{
    padding-top: 24px;
}