.switchOnText {
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 20px;
       line-height: 34px;
       letter-spacing: -0.5px;
       color: #C896EF;
}

.switchOffText {
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 20px;
       line-height: 34px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}



.switchOn {
       background-color: #C896EF !important;

}

.switchOff {
       background-color: #5F4F7F !important;

}

.blockSwitchOff {
       display: flex;
       align-items: center;
       padding: 15px 16px 15px 20px;
       justify-content: space-between;
       background-color: #201B27;
       border-radius: 30px;
       margin-top: 20px;
       border: 1.5px solid #5F4F7F;
}

.blockSwitchOn {
       display: flex;
       align-items: center;
       padding: 15px 16px 15px 20px;
       justify-content: space-between;
       background-color: #201B27;
       border-radius: 30px;
       margin-top: 20px;
       border: 1.5px solid #C896EF;
}