.overlayModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--unnamed, #FFE0AA);
    background: #201b27;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    max-width: 950px;
    width: 100%;
    z-index: 2;
    animation: fadeIn 0.7s ease-in-out forwards;
}
.modal::after{
    content: '';
    display: block;
    position: absolute;
    width: 669px;
    height: 422px;
    background: linear-gradient(62.24deg, rgba(118, 30, 99, 0.6) 16.983%,rgba(82, 88, 222, 0.6) 86.545%);
    left: -173px;
    top: 228px ;
    transform: rotate(-11.73deg);
    filter: blur(53px);
    z-index: 1;
}
.modal::before{
    content: '';
    display: block;
    position: absolute;
    width: 575px;
    height: 401px;
    filter: blur(53px);
    background: linear-gradient(62.24deg, rgba(118, 30, 99, 0.6) 17.165%,rgba(82, 88, 222, 0.6) 85.807%);
    top: -93px;
    right: -210px;
    transform: rotate(-12.82deg);
    z-index: 1;
}

.modalBoxHeader{
    z-index: 5;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}
.headerBox{
    display: flex;
    min-height: 70px;
}
.logoImg{
    width: 64px;
    height: 45px;
}
.headerContent{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.closeImg{
    z-index: 5;
    cursor: pointer;
    align-self: flex-start;
    padding-left: 52px;
    transition: all 0.5s ease-in-out ;
}

.closeImg svg path{
    fill:#C896EF;
}
.headerTitle{
    padding-bottom: 8px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    background: var(--unnamed, linear-gradient(86deg, #FFE0AA 0.58%, #FFAEA9 33.26%, #FFA7F6 67.03%, #DD7CFF 98.42%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerText{
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1px;
}
.optionsBox{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.optionList{
    position: relative;
    z-index: 999;
    list-style: none;
}
.optionItem{
    min-width: 270px;
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid var(--unnamed, #FFE0AA);
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    letter-spacing: 0.2px;
}
.optionItem img{
    max-width: 16px;
}
.optionItem:not(:last-child){
    margin-bottom: 12px;
}
.optionItem span{
    padding-left: 12px;
}
.leftBox{
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftBox p{
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1px;
}
.priceList{
    list-style: none;
    position: relative;
    z-index: 999;
}
.priceItem{
    cursor: pointer;
    width: 536px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    border-radius: 10px;
    border: 1px solid var(--Violet_Stroke, #5F4F7F);
    background: var(--Panel_Background, #272533);
}
.priceItem:hover{
    background: var(--Violet_Stroke, #5F4F7F);
}
.priceItem:not(:last-child){
    margin-bottom: 12px;
}
.priceItem span{
    display: block;
    color: var(--Violet_Active, #C896EF);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.5px;
}
.btnPrice{
    max-width: 134px;
    width: 100%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Violet_Active, #C896EF);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    background: var(--unnamed, linear-gradient(86deg, #FFE0AA 0.58%, #FFAEA9 33.26%, #FFA7F6 67.03%, #DD7CFF 98.42%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  }
.logoBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 0px #5f4f7f80;
    background: #1f1d2b;
}