* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500; 
}

#root{
    --panel-background: #272533;
    --text-color: #5F4F7F;
    --active-text-color: #E9E3F5;
    --dark-background: #1F1D2B;
}
.main_layout__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    background-color: var(--dark-background);
    background-image: url("../../../assets/NavPanel/Dust.svg");
}
.main_layout__chats {
    min-width: 352px;
    height: 100%;
}
.main_layout__matching{
    background-color: var(--dark-background);
    background-image: url("../../../assets/NavPanel/Dust.svg");
}
.main_layout__filters{
    background-color: var(--panel-background);
    height: 100%;
}