.Header {
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #E9E3F5;
    letter-spacing: -0.5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 85vw;
    height: 56px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto; 
    margin-right: auto;
}

.Header img {
    height: 52px;
}

.Header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}

.Header li {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.Header li:hover {
    color: #C896EF;
    transition: 0.4s ease-in;
}
