.header {
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #E9E3F5;
    letter-spacing: -0.5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 80vw;
    height: 56px;
    margin: 20px auto 35px;
}

.header__logo{
    height: 52px;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}

.navListItem {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.4s ease-in;
}

.navListItem:hover {
    color: #C896EF;
    transition: 0.4s ease-in;
}
