.Header {
    position: relative;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #E9E3F5;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 1224px;
    height: 56px;
    margin-top: 35px;
}

Header img {
    width: 80px;
    height: 52px;
}

.Header nav ul {
    margin-left: 114px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    list-style-type: none;
}

.Header nav ul li {
    width: 116px;
    height: 42px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.Header nav ul li:hover {
    color: #C896EF;
    transition: 0.4s ease-in;
}