.headerWrapper {
  border-bottom: 1.5px solid var(--panel-background, #272533);
  background: var(--dark-background, #1f1d2b);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.blockWithPreviousStep {
  display: flex;
  gap: 16px;
  align-items: center;
}

.blockPhotoWithName {
  display: flex;
  gap: 12px;
  align-items: center;
}

.name {
  color: var(--white, #e9e3f5);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.isOnline {
  margin-top: 4px;
  color: var(--violet-active, #c896ef);
  font-family: var(--ff);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.messangerFeatures {
  display: flex;
  gap: 8px;
}

.icon {
  cursor: pointer;
}
