.background {
  width: 392px;
  height: 500px;
  border-radius: 10px;
  background: var(--White, #e9e3f5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centeredContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.clipElem {
  max-width: 230px;
  max-height: 320px;
  object-fit: contain;
  border-radius: 12px;
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.blockClipElemWithDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fieldForMessage {
  width: 360px;
  height: 50px;
  border-radius: 100px;
  color: var(--white, #e9e3f5);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  border: 1px solid var(--violet-stroke, #5f4f7f);
  background: var(--panel-background, #272533);
  padding: 10px 80px 10px 50px;
  outline: none;
}

.fieldForMessage:focus {
  border-color: #c896ef;
}

.fieldForMessage::placeholder {
  color: var(--violet-stroke, #5f4f7f);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.blockInputForClipsDescription {
  align-self: flex-end;
  border-top: 1px solid #5f4f7f;
  padding: 18px 16px;
}

.blockIcons {
  position: absolute;
}

.emojiIcon,
.sendIcon {
  position: absolute;
  cursor: pointer;
}

.emojiIcon {
  left: 10px;
  top: 10px;
}

.sendIcon {
  left: 319px;
  top: 9px;
}
