.workspaceWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.workspaceWithReplyWrapper {
  height: 72.3vh;
}

.headerWorkspace {
  width: 100%;
  position: relative;
}

.workspaceContainer {
  background: #1f1d2b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px 16px;
}

.dateOfMessages {
  text-align: center;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--Grey, #96a3b4);
}