.workspaceWrapper {
       display: flex;
       flex-direction: column;
       flex-grow: 1;
       overflow-y: auto;
}

.workspaceWrapper::-webkit-scrollbar {
       display: none;
}

.workspaceWithReplyWrapper {
       height: 72.3vh;
}

.headerWorkspace {
       width: 100%;
       position: relative;
}

.workspaceContainer {
       background: #1F1D2B;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       position: relative;
       flex-grow: 1;
}

.workspaceContainerEmpty {
       background: #1F1D2B;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       flex-grow: 1;
}



.messageBlock {
       display: flex;
       flex-direction: column;
}

.messagesContainer {
       display: flex;
       flex-direction: column;
       gap: 4px;
       padding: 0 16px 16px;
}

.dateOfMessages {
       text-align: center;
       margin-bottom: 16px;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 500;
       line-height: 18px;
       color: var(--Grey, #96A3B4);
}

