.profileContainer{
    width: 100%;
    height: 100%;
}
.overlayContent,
.activeMainContent{
    background: url("./../../../assets/Messanger/BackgroundForMessanger.png") #1f1d2b repeat;
    height: 100%;
    width: 100%;
    padding: 32px 64px;
    
}
.activeMainContent{
    background-color: rgba(0, 0, 0, 0.9);
}
.mainContentProfile{
display: flex;
    gap: 32px;
}
/* .activeMainContent,
.mainContentProfile{
    display: flex;
    gap: 32px;
    height: 100%;
    width: 100%;
    padding: 32px 64px;
    
}
.activeMainContent{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
} */

