a,
button {
       cursor: pointer;
}

.modalAuth {
       display: flex;
}

.leftHalfAuth {
       width: 707px;
       background-color: gray;
       text-align: center;
}

.logo {
       margin-top: 65px;
       display: inline-block;
}

.tagline {
       width: 338px;
       padding: 14px 79px;
       display: inline-block;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 28px;
       font-weight: 600;
       color: #E9E3F5;
       letter-spacing: -0.5px;
       line-height: 31px;
}

.lastWords {
       color: #EB53A2;
}

.downloadText {
       margin-top: 50px;
       padding: 10px;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 20px;
       font-weight: 600;
       color: #E9E3F5;
       line-height: 17px;
}

.downloadLinks {
       display: flex;
       flex-direction: row;
       gap: 20px;
       justify-content: center;
       margin-top: 16px;
}

.messagePrivacy {
       width: 496px;
       height: 43px;
       display: inline-block;
       margin-top: 98px;
       margin-bottom: 66px;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 16px;
       font-weight: 500;
       line-height: 25px;
       color: #E9E3F5;
}

.privacyPolicy {
       color: #EB53A2;
}

.rightHalfAuth {
       width: 517px;
       background-color: #1F1D2B;
}

.messageLogIn {
       width: 396px;
       margin: 65px auto 0;
       text-align: center;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 28px;
       font-weight: 600;
       line-height: 40px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}

.continueWith {
       margin: 70px 0 0;
       text-align: center;
       font-family: 'Montserrat', Arial, sans-serif;
       font-size: 24px;
       font-weight: 600;
       line-height: 17px;
       color: #E9E3F5;
       letter-spacing: -0.5px;
}

.logoList {
       list-style: none;
       margin: 28px auto 0;
       width: 396px;
       padding: 0;
       display: flex;
       justify-content: center;
       gap: 46px;
}

.googleIcon:hover rect {
       fill:#EB53A2;
       transition: 0.3s ease;
}

.facebookIcon:hover path:first-child {
       fill:#EB53A2;
       transition: 0.3s ease;
}

.appleIcon:hover circle {
       fill:#EB53A2;
       transition: 0.3s ease;
}
.googleIcon:active rect {
       fill:#B71A78;
}

.facebookIcon:active path:first-child {
       fill:#B71A78;
}

.appleIcon:active circle {
       fill:#B71A78;
}