.matching_container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heartIcon {
  width: 32px;
  border: 3px;
  fill: none;
  transition: fill 0.3s;
  transition: stroke 0.3s;
  stroke: url(#paint0_linear_6978_64739);
}

.heartIcon:hover {
  stroke: #de77c7;
}

.heartIcon:active {
  stroke: url(#paint0_linear_6978_64739);
  fill: url(#paint0_linear_6978_64739);
}

.closeIcon {
  width: 21px;
  fill: #c896ef;
}

.closeIcon:active {
  fill: #b71a78;
}

.container_icons:hover {
  background-color: #32303e;
  box-shadow: none;
}

.container_icons:active {
  background-color: #1f1d2b;
  box-shadow: 0 0 10px 3px rgba(95, 79, 127, 0.5);
}

.container_icons {
  width: 68px;
  height: 68px;
  padding: 13px;
  border-radius: 50px;
  background-color: #1f1d2b;
  box-shadow: 0 0 10px 3px rgba(95, 79, 127, 0.5);
  border: none;
  text-align: center;
}

.myGradient {
  fill: url(#paint0_linear_6978_64739);
  transition: fill 0.3s ease;
}

.myGradient:hover {
  fill: url(#paint0_linear_hover_6978_64739);
}

.profile_matched {
  width: 324px;
  height: 584px;
  border-radius: 10px;
  background-color: #302e3d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.matching_feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.matching_nav {
  width: 324px;
  height: 48px;
  color: #5f4f7f;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #5f4f7f;
  position: sticky;
}

.nav_category {
  width: 162px;
  height: 48px;
  padding: 0px, 10px, 0px, 16px;
  border: 0px, 0px, 2px, 0px;
  gap: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.matching_profiles {
  overflow-y: auto;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 7px;
}

.video_profile {
  width: 324px;
  height: 500px;
}

.profile_name {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.profile_city {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.profile_picture {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.profile_container_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.profile_info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile_dots {
  color: #ffffff;
  width: 32px;
  height: 32px;
  padding: 0px, 10px, 0px, 10px;
  border-radius: 100px;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
}

.interested_active {
  background-image: linear-gradient(
    86deg,
    #ffe0aa 0.58%,
    #ffaea9 33.26%,
    #ffa7f6 67.03%,
    #dd7cff 98.42%
  );
  border-bottom: 2px solid #c896ef;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new_people_active {
  border-bottom: 2px solid #c896ef;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
