.iconsWrapper {
       position: absolute;
       width: 600px;
}

.emojiIcon, .microphoneIcon, .clipIcon {
       position: absolute;
       cursor: pointer;
} 

.emojiIcon {
       left: 10px;
       top: 10px;
}

.microphoneIcon {
       top: 5px;
       right: 38px;
}

.clipIcon {
       top: 13px;
       right: 13px;
}

.fieldForMessageWrapper {
       padding: 30px 72px 34px;
       border-top: 1.5px solid var(--panel-background, #272533);
       background: var(--dark-background, #1F1D2B);
}


.fieldForMessage {
       width: 600px;
       height: 50px;
       border-radius: 100px;
       color: var(--white, #E9E3F5);
       font-family: Montserrat;
       font-size: 20px;
       font-weight: 500;
       line-height: 30px;
       letter-spacing: -0.5px;
       border: 1px solid var(--violet-stroke, #5F4F7F);
       background: var(--panel-background, #272533);
       padding: 10px 80px 10px 50px;
}

.fieldForMessage::placeholder {
       color: var(--violet-stroke, #5F4F7F);
       font-family: Montserrat;
       font-size: 20px;
       font-weight: 500;
       line-height: 30px;
       letter-spacing: -0.5px;

}