.dropdawnHeader {
       height: 64px;
       padding: 10px 20px;
       margin-top: 10px;
       background: #201B27;
       border: 1.5px solid #5F4F7F;
       border-radius: 30px;
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
       outline: none;
       appearance: none;
       padding-right: 20px;
       background-image: url("../../../assets/CreateAccountForm/DropdawnArrowUp.svg");
       background-repeat: no-repeat;
       background-position: right 26px top 27.5px;
       box-sizing: border-box;
       display: flex;
       align-items: center;
       cursor: pointer;
}

.dropdawnHeaderOpen {
       height: 64px;
       padding: 10px 20px;
       margin-top: 10px;
       background: #201B27;
       border: 1.5px solid #C896EF;
       border-radius: 30px 30px 0 0;
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
       outline: none;
       appearance: none;
       padding-right: 20px;
       background-image: url("../../../assets/CreateAccountForm/DropdawnArrowDown.svg");
       background-repeat: no-repeat;
       background-position: right 26px top 27.5px;
       box-sizing: border-box;
       display: flex;
       align-items: center;
       cursor: pointer;
}

.optionSelected {
       height: 64px;
       padding: 10px 20px;
       margin-top: 10px;
       background: #201B27;
       border: 1.5px solid #C896EF;
       border-radius: 30px;
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 18px;
       line-height: 25px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
       outline: none;
       appearance: none;
       padding-right: 20px;
       background-image: url("../../../assets/CreateAccountForm/DropdawnArrowUp.svg");
       background-repeat: no-repeat;
       background-position: right 26px top 27.5px;
       box-sizing: border-box;
       display: flex;
       align-items: center;
       cursor: pointer;
}

.dropdawnOptions {
       background: #201B27;
       border: 1.5px solid #C896EF;
       border-radius: 0 0 0 30px;
       overflow: scroll;
       overflow-x: hidden;
       height: 390px;
       position: relative;
}


.dropdawnOptions::-webkit-scrollbar {
       width: 4px;
}

.dropdawnOptions::-webkit-scrollbar-track {
       background-color: #5F4F7F;
}

.dropdawnOptions::-webkit-scrollbar-thumb {
       background-color: #C896EF;
}

.blockForOption {
       margin: 41px 20px 0;
       text-align: start;
       cursor: pointer;
       padding-bottom: 16px;
}

.blockForOption:not(:last-child) {
       border-bottom: 1px solid #5F4F7F;

}



.blockTitleAndRadio {
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.dropdawnTitle {
       font-family: 'Montserrat';

       font-weight: 600;
       font-size: 16px;
       line-height: 34px;
       letter-spacing: -0.5px;
       color: #C896EF;
}

.dropdawnDescription {
       width: 296px;
       font-family: 'Montserrat';
       font-weight: 600;
       font-size: 12px;
       line-height: 18px;
       letter-spacing: -0.5px;
       color: #E9E3F5;
}