.user_page__wrapper{
    padding: 36px 70px;
    color: var(--active-text-color);
    font-size: 20px;
}
.user_page_short_info{
    display: grid;
    grid-template-columns: 182px 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 24px;
}
.user_main_avatar{
    grid-column: 1;
    grid-row: 1 / -1;
}
.user_page_username{
    grid-row: 1;
}
.user_page_gender{
    grid-row: 3;
}
.user_page_zodiac_sign{
    grid-row: 4;
}
.user_page_city{
    grid-row: 5;
}
.user_page_short_info div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
}