.contextMenu {
  padding: 16px;
  display: flex;
  width: 196px;
  height: 242px;
  flex-direction: column;
  border-radius: 5px;
  background: var(--white, #e9e3f5);
  position: relative;
  margin-top: 10px;
}

.contextMenuBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contextMenuBlock:hover {
  background: var(--back-white, #e1dbed);
}

.contextMenuBlock:hover button {
  background: var(--back-white, #e1dbed);
}

.contextMenuFeature {
  width: 164px;
  height: 42px;
  border-radius: 5px;
  color: var(--violet-stroke, #5f4f7f);
  background: var(--white, #e9e3f5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.5px;
  border: none;
  text-align: inherit;
}

.contextMenuDelete {
  width: 164px;
  height: 42px;
  border-radius: 5px;
  color: var(--violet-stroke, #d75048);
  background: var(--white, #e9e3f5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.5px;
  border: none;
  text-align: inherit;
}

.iconForContextMenuFeature {
  margin-left: 10px;
}

.contextMenuWithoutPhoto::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 10px solid #e9e3f5;
  bottom: 240px;
  left: 86px;
}

.contextMenu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 10px solid #e9e3f5;
  bottom: 240px;
  left: 86px;
}

.contextMenuForMe {
  margin-left: 75px;
}
