.contextMenu {
       padding: 8px;
       display: flex;
       flex-direction: column;
       width: 147px;
       height: 166px;
       gap: 4px;
       border-radius: 5px;
       background: var(--white, #E9E3F5);
       position: relative;
       margin-top: 4px;
}

.contextMenuBlock {
       display: flex;
       align-items: center;
       gap: 8px;
       padding:4px 8px;
       cursor: pointer;
}

.contextMenuBlock:hover {
       background: var(--back-white, #E1DBED);
}

.contextMenuBlock:hover button {
       background: var(--back-white, #E1DBED);
}

.contextMenuBlockToFix {
       display: flex;
       align-items: center;
       gap: 8px;
       padding:4px 8px;
       cursor: pointer;
       border-bottom: 1px solid #E1DBED; 
}

.contextMenuBlockToFix:hover {
       background: var(--back-white, #E1DBED);
}

.contextMenuBlockToFix:hover button {
       background: var(--back-white, #E1DBED);
}

.contextMenuFeature {
       color: var(--violet-stroke, #5F4F7F);
       background: var(--white, #E9E3F5);
       font-family: Montserrat;
       font-size: 12px;
       font-weight: 400;
       line-height: 12px;
       border: none;
       text-align: inherit;
}

.contextMenuFeatureRed {
       color: var(--Red_Error, #D75048);
       background: var(--white, #E9E3F5);
       font-family: Montserrat;
       font-size: 12px;
       font-weight: 400;
       line-height: 12px;
       border: none;
       text-align: inherit;
}

.contextMenuForMe {
       align-self: flex-end;
}