.overlayModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;
  width: 432px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px;
  outline: none;
  border-radius: 7px;
  animation: fadeIn 0.7s ease-in-out forwards;
}
.darkModal{
    border-radius: 8px;
    border: 1px solid var(--Violet_Active, #c896ef);
    background: var(--Dark_Elements_Background, #201b27);
}
.darkModalTitle{
    padding: 34px 0 8px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    background: linear-gradient(86deg, #FFE0AA 0.58%, #FFAEA9 33.26%, #FFA7F6 67.03%, #DD7CFF 98.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.darkTitleBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconCancel{
    cursor: pointer;
    align-self: end;
    margin-bottom: 6px;
}
.logo_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 0px #5f4f7f80;
    background: #1f1d2b;
}
.darkModalLogo{
    width: 32px;
    height: 32px;

}
.darkModalSubtitle{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: center;
}
.darkModalFirstBtn{

}
.firstBtn{
    margin-top: 48px;
    display: block;
    width: 100%;
    padding: 16px 18px;
    background: linear-gradient(180deg, #9747ff 0%, #e551e8 100%);
    border-radius: 5px;
    border: none;
    color: #e9e3f5;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}