.container {
  display: flex;
  flex-direction: column;
  background-color: #1f1d2b;
  width: 100%;
  color: #fff;
  height: 100vh;
}

.wrapper {
  display: flex;
  padding-left: 32px;
}

.wrapper div:first-child {
  align-self: flex-start;
}

.main {
  display: flex;
  justify-content: space-between;
}

.leftPart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.outlet {
  flex: 1;
  padding-right: 32px;
}

.rightPart {
  width: 382px;
  flex-shrink: 0;
  height: calc(100vh - 64px);

}