.container{
    display: flex;
    background-color: #1F1D2B;
    width: 100%;
    color: aliceblue;
}

.leftPart{
    flex: 3;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.rightPart{
   flex: 1;
}