.blockCheckbox {
       display: flex;
}

.labelForCheckbox {
       display: flex;
       align-items: center;
       font-family: 'Montserrat';
       font-size: 12px;
       font-weight: 400;
       line-height: 14px;
       color: var(--White, #FFF);
}

.checkboxForPassword[type="checkbox"] {
       position: relative;
       width: 16px;
       height: 16px;
       margin: 0 8px 0 0;
       align-self: flex-start;
}

.checkboxForPassword[type="checkbox"]::before {
       content: "";
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #1F1D2B;
       border: 1px solid #ccc;
       border-radius: 3px;
}

.checkboxForPassword[type="checkbox"]:checked::before {
       background-color: #fcfcfc;
}

.checkboxForPassword[type="checkbox"]::after {
       content: url("../../../assets/ForCommonModal/checkMarkIcon.svg");
       display: none;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-45%, -40%);
       color: #5F4F7F;
}

.checkboxForPassword[type="checkbox"]:checked::after {
       display: block;
}

.blockHoverIcon:hover .questionIcon path {
       fill: #C896EF;
}

.questionIcon {
       margin-left: 6px;
       margin-bottom: 3px;
       display: flex;
       align-items: center;
}

.saveLoginBlock {
       position: absolute;
       width: 218px;
       padding: 16px;
       background-color: #E9E3F5;
       border-radius: 5px;
       top: 34px;
       left: -93px;
}

.saveLoginBlock::after {
       content: "";
       position: absolute;
       width: 0;
       height: 0;
       border: 15px solid transparent;
       border-bottom: 14px solid #E9E3F5;
       bottom: 105px;
       left: 95px;
}

.blockHoverIcon {
       position: relative;
}

.saveLoginTitle {
       margin: 0;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 600;
       font-size: 12px;
       line-height: 14px;
       letter-spacing: -0.5px;
       color: #5F4F7F;
}

.saveLoginText {
       margin: 4px 0 0;
       font-family: 'Montserrat', Arial, sans-serif;
       font-weight: 400;
       font-size: 12px;
       line-height: 20px;
       color: #5F4F7F;
}

.blockHoverIcon:hover .saveLoginBlock {
       opacity: 1;
       pointer-events: all;
}

.blockHoverIcon .saveLoginBlock {
       opacity: 0;
       pointer-events: none;
}