.genderRadioWrapper {
  width: 392px;
  height: 48px;
  background: #1f1d2b;
  border: 1.5px solid var(--super-white, #e1dbed);
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #e9e3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genderRadioWrapper,
.genderRadioWrapper * {
  cursor: pointer;
}

.genderRadioWrapperActive {
  width: 392px;
  height: 48px;
  background: var(--Violet_Active, #c896ef);
  border: 1.5px solid var(--super-white, #e1dbed);
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #e9e3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
