@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalUploadVideo {
  position: relative;
  width: 432px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px;
  outline: none;
  border-radius: 7px;
  animation: fadeIn 0.7s ease-in-out forwards;
}

.iconCancel {
  align-self: flex-start;
  cursor: pointer;
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.titleAndCancelBlock {
  display: flex;
  justify-content: space-between;
}

.modalUploadVideoTitle {
  color: var(--Violet_Stroke, #5f4f7f);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.uploadVideoInfo {
  color: var(--Panel_Stroke, #32303e);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 12px;
}

.btnOk {
  margin-top: 40px;
  display: block;
  width: 392px;
  height: 48px;
  padding: 16px 18px;
  background: linear-gradient(180deg, #9747ff 0%, #e551e8 100%);
  border-radius: 5px;
  border: none;
  color: #e9e3f5;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.btnOk:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)),
    linear-gradient(180deg, #9747ff 0%, #e551e8 100%);
}

.btnSecond {
  margin-top: 12px;
  display: block;
  width: 392px;
  height: 48px;
  padding: 16px 18px;
  background: inherit;
  border-radius: 5px;
  border: 1px solid var(--Back_White, #e1dbed);
  color: var(--gray-calendar, #39364a);
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
