.pinnedMessageWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 38px;
  gap: 2px;
}

.pinnedMessage {
  color: var(--white, #e9e3f5);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.description {
  color: var(--violet-active, #c896ef);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.pinnedMessagesContainer {
  display: flex;
  width: inherit;
  position: absolute;
  z-index: 2;
  gap: 12px;
  height: 54px;
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1.5px solid var(--panel-background, #272533);
  background: var(--dark-background, #1f1d2b);
}

.pinnedMessagesContainer > :last-child {
  margin-left: auto;
  align-self: center;
}

.indicatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1px;
  height: 100%;
  border-radius: 1px;
}

.indicator {
  flex-grow: 1;
  background-color: #5f4f7f;
  margin-bottom: 2px;
  border-radius: 4px;
}

.active {
  background-color: #c896ef;
}
